/* Tablet */
@media(min-width: 739px) and (max-width:1024px){
    .logo img {
        width: 113px;
        position: absolute;
        top: -20px;
    }
    .header__cart-notice{
        top: 6px;
    }
    .header__cart-icon{
        color: #fff;
        font-size:20px;
        margin-top: 19px;
    }
    .boxsp__price-old{
        font-size: 10px;
        color: #666;
        text-decoration: line-through
    }
    .boxsp__price-current {
        font-size: 10px;
        color: #f44b29;
        margin-left: 10px;
    }
    .boxsp-sold {
        margin-left: 11px;
        font-size: 10px;
    }
    .boxsp{
        min-height: 150px;
    }
    .boxsp img{
        height: 80%;
    }
    .boxsp .img{
        min-height: 200px;
        margin-bottom: -40px;
    }
    .banner img{
        height: 250px;
    }
    .boxsp input[type="number"] {
        border-radius: 5px;
        border-color: #f98704;
        width: 30px;
        margin-left: 10px;
    }
    .boxsp button {
        justify-content: center;
        color: #fff;
        background-color: #f98704;
        border: none;
        border-radius: 5px;
        height: 17px;
        margin-left: 0px;
        bottom: 20px;
        margin-bottom: 20px;
    }
    .boxsp__rating
    {
        display: flex;
        float: right;
        width: 5px;
        color: #d5d5d5;
        margin: -11px 0px 10px 0;
    }
    .top10 img{
        width: 20%;
        height: 32px;
        float: left;
        margin-right: 10px;
        border-radius: 5px;
        border: 1px #ccc solid;
    }
    .boxsp-text{
        color: #000;
        padding: 0 10px;
        font-size: 10px;
        font-weight: 200;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .grid__row{
        display: flex;
        flex-wrap: wrap;
        margin-left:-5px;
        margin-right:-5px;
        justify-content: space-between;
    }
}

/* Mobile */
@media(max-width:412px){
    .menu ul {
        padding: 0 11px;
    }
    .menu ul li {
        list-style: none;
        display: inline;
        padding: 0 11px;
    }
    .mb {
        margin-bottom: 10px;
    }
    .logo img {
        width: 75px;
        position: absolute;
        top: -4px;
        left: 55px;
    }
    .header h1 {
        margin: 20px;
        font-size: 7px;
    }
    .header__cart-icon{
        color: #fff;
        font-size: 15px;
        margin-top: 15px;
    }
    .header__cart {
        width: 30px;
        text-align: center;
        position: relative;
        float: right;
        margin-top: -40px;
    }
    .header__cart-notice {
        position: absolute;
        padding: 1px 7px;
        background-color: #fff;
        color: #ee4d2d;
        font-size: 13px;
        line-height: 14px;
        border-radius: 10px;
        border: 2px solid #EE4D2D;
        top: 4px;
        left: 10px;
    }
    .giohang {
        position: fixed;
        border-radius: 10px;
        right: 2px;
        width: 55px;
        top: 8px;
        height: 48px;
        background-image: linear-gradient(#F90, #F60);
        padding: 6px;
    }
    .giohang span {
        font-weight: bold;
        float: right;
        margin-top: -40px;
        font-size: 25px;
        color: yellow;
        height: 40px;
        line-height: 40px;
    }
    .boxsp {
        float: left;
        width: 48%;
        min-height: 170px;
        border: 1px #ccc solid;
        border-radius: 5px;
        margin-bottom: 10px;
        position: relative;
    }
    .boxsp-text{
        color: #000;
        padding: 0 5px;
        font-size: 6px;
        font-weight: 200;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .boxsp a {
        text-decoration: none;
        color: #000;
        padding: 0 5px;
    }
    .boxsp:nth-child(3)
    {
        display: none;
    }
    .boxsp img{
        height: 50%;
    }
    .boxsp .img {
        min-height: 100px;
        margin-bottom: -110px;
    }
    .boxsp__price-old {
        font-size: 6px;
        color: #666;
        text-decoration: line-through;
        margin-left: -5px;
    }
    .boxsp__price-current {
        font-size: 7px;
        color: #f44b29;
        margin-left: 4px;
    }
    .boxsp-sold {
        margin-left: 3px;
        font-size: 5px;
        color: #000;
    }
    .boxsp input[type="number"] {
        border-radius: 3px;
        border-color: #f98704;
        width: 15px;
        height: 15px;
        margin-left: 5px;
    }
    .boxsp__origin {
        display: flex;
        justify-content: space-between;
        margin: 3px 5px 0;
        color: #000;
        font-weight: 300;
    }
    .boxsp__rating {
        display: flex;
        float: right;
        width: 5px;
        color: #d5d5d5;
        margin: -4px -20px 10px 0;
    }
    .boxsp button {
        justify-content: center;
        color: #fff;
        background-color: #f98704;
        border: none;
        border-radius: 3px;
        height: 15px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .boxsp__price {
        display: flex;
        align-items: baseline;
        margin: 10px 8px;
    }
    .boxsp-cart{
      font-size: 8px;
    }
    .boxsp-favorrite__sale-off-percent, .boxsp-favorrite__sale-off-label {
        font-size: 9px;
    }
    .boxsp-favorrite {
        position: absolute;
        top: 6px;
        left: -4px;
        color: #fff;
        background-color: #f44b29;
        font-size: 1rem;
        font-weight: 500;
        line-height: 10px;
        padding-right: 4px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .boxsp-favorrite__sale-off {
        position: absolute;
        background-color: #f9d02df0;
        color: #fff;
        width: 30px;
        height: 25px;
        top: 0;
        right: 0;
        border-top-left-radius: 2px;
        text-align: center;
    }
    .boxsp-favorrite__sale-off::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        color: #fed222f0;
        border-width: 0px 15px 3px;
        border-style: solid;
        border-color: transparent currentColor transparent currentColor;
    }
    .banner {
        min-height: 250px;
        width: 100%;
        text-align: center;
        margin-bottom: -140px;
    }
    .banner img {
        height: 100px;
        width: 100%;
    }
    .formtaikhoan input[type="checkbox"] {
        border-radius: 5px;
        margin-top: 2px;
        width: 7px;
    }
    .formtaikhoan input[type="text"], .formtaikhoan input[type="password"] {
        width: 100%;
        border: 1px #ccc solid;
        padding: 2px 3px;
        border-radius: 2px;
    }
    .boxcontent {
        border-left: 1px #ccc solid;
        border-right: 1px #ccc solid;
        border-bottom: 1px #ccc solid;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        min-height: 81px;
        padding: 5px;
    }
    .boxtitle {
        color: #333;
        padding: 4px;
        background-color: #eee;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px #ccc solid;
    }
    .boxfooter {
        padding: 0px;
        background-color: #eee;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: 1px #ccc solid;
        border-left: 1px #ccc solid;
        border-right: 1px #ccc solid;
    }
    .boxcontent2 {
        border-left: 1px #ccc solid;
        border-right: 1px #ccc solid;
        min-height: 170px;
    }
    .menudoc ul li {
        padding: 7px 10px;
        background-color: #fff;
        border-bottom: 1px #ccc solid;
    }
    .top10 img {
        width: 35%;
        height: 20px;
        float: left;
        margin-right: 10px;
        border: 1px #ccc solid;
    }
    .grid__column-2-4{
        padding-left:5px;
        padding-right:5px;
        width: 20%;
    }
    .footer__heading {
        font-size: 8px;
        text-transform: uppercase;
        color: #000;
    }
    .footer-item__link{
        text-decoration: none;
        color: #737373;
        font-size: 10px;
        padding: 2px 0;
        display: flex;
        align-items: center;   
    }
    .footer-item__link:hover{
        color: #000;
    }
    .footer-item__icon{
        font-size: 10px;
        margin: -1px 8px 0 0;
    }
    .footer__download-qr{
        width: 45px;
        height: 45px;
        border: 1px solid #ccc;
    }
    .footer__text {
        margin: 0;
        font-size: 7px;
        text-align: center;
        color: #737373;
    }

}